/* styles for portal page */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
}

nav {
    height:60px;
    background: #333;
    line-height: 60px;
    margin-bottom: 20px;
}

nav li {
    float:left;
    width: 16.66%;
    text-align: center;
    list-style-type: none;
}

nav a {
    color:white;
    text-decoration: none;
}

main {
    width: 62%;
    float: left;
    margin-left:10px;

}

aside {
    width:35%;
    float:right;
    padding-left:20px;
}

.right {
    float:right;
    margin-left:30px;
}

.left {
    float:left;
    margin-right:10px;
}


#wrapper {
    max-width: 1200px;
    margin:20px auto;
}

footer {
    height: 60px;
    line-height: 60px;
    background: lightgray;
    clear:both;
    font-size: 80%;
}
footer ul {
    display:flex;
    justify-content: center;
}

footer li {
    justify-content: center;
    list-style-type: none;
    margin-left: 20px;
}

footer a {
    text-decoration: none;
}

/* -- typography --*/

h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
}
h1 a {
    text-decoration: none;
    color: olivedrab;
}

h2 {
    font-size:2em;
    font-stretch:expanded;
    text-align: center;
    margin-bottom:20px;
}

main h2 {
    text-align:left;
}

main h2, aside h2 {
    text-align:left;
}

main h3 {
    margin-top:50px;
    margin-bottom: 20px;
    padding-top: 20px;
    clear: both;
    overflow: hidden;
}

aside h3 {
    padding-top: 20px;
    padding-bottom: 10px;
}

aside ul {
    padding-left: 10px;
    line-height: 20px;
    margin-bottom: 20px;
}

aside ul a {
    text-decoration: none;
}

.resize {
    max-width:700px;
    height: auto;
    border-bottom: 5px;
    border-color:orange;
    float:left;
    clear:both;
}
p {
    margin-bottom: 10px;
}

