/* styles for portal page */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
}

.current {
    color:red;
}

nav {
    height:60px;
    background: #333;
    line-height: 60px;
    margin-bottom: 20px;
    width:100%;

    
}

nav ul {
	clear:left;
	float:right;
	width:60%;
	position:relative;
	text-align:center;
	display:flex;
	right:50%;
		
}

nav ul li {
    display:block;
    float:left;
	position:relative;
	margin:0;
    width: 16.66%;
    text-align: center;
    list-style-type: none;
	left:50%;
}

nav a {
    color:white;
    text-decoration: none;
}

main {
    width: 62%;
    float: left;
    margin-left:10px;
    padding: 0 15px;
    margin-top:30px;

}

aside {
    margin-top: 50px;
    width:35%;
    float:right;
    padding-left:20px;
}

.right {
    float:right;
    margin-left:30px;
}

.left {
    float:left;
    margin-right:10px;
}


#wrapper {
    max-width: 1200px;
    margin:20px auto;
    margin-bottom:30px;
}

figcaption {
    margin-bottom:20px;
}

footer {
    height: 60px;
    line-height: 60px;
    background: lightgray;
    clear:both;
    font-size: 80%;
}
footer ul {
    display:flex;
    justify-content: center;
}

footer li {
    justify-content: center;
    list-style-type: none;
    margin-left: 20px;
}

footer a {
    text-decoration: none;
}

/* -- typography --*/

h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
}
h1 a {
    text-decoration: none;
    color: brown;
}

h2 {
    font-size:2em;
    text-align: left;
    margin-bottom:20px;
}

main h2 {
    text-align:left;
}

main h2, aside h2 {
    text-align:left;
}

main h3 {
    margin-top:20px;
    margin-bottom: 5px;
    padding-top: 20px;
    clear: both;
    overflow: hidden;
}

main ul li {
    line-height: 30px;
}

.resize {
    max-width:700px;
    height: auto;
    border-bottom: 5px;
    border-color:orange;
    float:left;
    clear:both;
}
p {
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
    font-variant: small-caps;
}

ul li {
    list-style-type: none;
}

/* FORM STYLES */


form {
    width: 600px;
    margin:20px auto;
    background-color: white;
    padding: 20px;
}

fieldset {
    border: 1px solid thistle;
    padding: 10px;
    border-radius:5%;
}

fieldset ul li {
    list-style-type:none;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    height: 30px;
    width:100%;
    margin-bottom:10px;
}

input[type=submit],
    [type=button] {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: green;
    color: white;
}

.error {
    display: block;
    color:orange;
    margin-bottom: 8px;
}

main table {
    border:1px solid orange;
    border-collapse:collapse;
}
td {
    border:1px solid orange;
    padding: 20px 20px;
}

ul li {
    list-style-type: none;
}
